body {    
    margin: 0 !important;
    padding: 0 !important;
}

body li {
	display: inline;
    list-style-type: none;
}

#navbar {
	position: absolute;
	top: 297px;
}

#container {
	text-align: center;
	/*margin: 0 auto;*/
	margin: 0 60px 0 60px;
}

img.left_star {
	display: inline;
	height: 25px;
	width: 25px;
	position: relative;
	left: -285px;
	top: 33px;
}

img.right_star {
	height: 25px;
	width: 25px;
	position: relative;
	left: 285px;
	top: -30px;
}


header {
	border-top: solid #C6282E 14px;
	margin-top: 0;
	padding-top: 30px;
	text-align: center !important;
	border-bottom: solid #221F73 70px;

}

header h1 {
 	font-family: Gotham book, Arial, sans-serif;
	font-size: 30px;
	color: #221F73;
	margin-bottom: 0;
	margin-top: 0;
	/*line-height: 10px;*/
}

header h2 {

	margin-top: 0;
	font-family: Gotham, Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #C6282E;
	line-height: 3px;
}

header p {
	font-size: 16px;
	color: #87898B;
	padding-top: 30px;
	padding-bottom: 50px;
	min-width:200px;
    max-width: 600px;
    text-align: center;
    margin:0 auto;
}

header ul {
	min-width: 200px;
	/*max-width: 785px;*/
	font-weight: bold;
	font-size: 14px;
	/*background: #221F73;*/

}

header li {
	padding: 20px;
	line-height: 23px;
}

header a {
	text-decoration: none;
	color: white;
	font-family: 
}

header a:hover {
	color: #C6282E;
}

div.candidate_section {
	}

div.candidate_section:nth-child(odd) {
	padding: 40px;

}

div.candidate_section:nth-child(odd) .candidate {
	float: left;
}

div.candidate_section:nth-child(even) {
	padding: 40px 80px;
	background: #F1F2F2;
}

div.candidate_section:nth-child(even) .candidate {
	float: right;
}

ul.social_media {
	position: relative;
	left: -22px;
	top: -12px;
}

img.candidate_portrait {
	margin-bottom: 12px;
}

img.social_media {
	height: 30px;
	width: 30px;
}

h3 {
    font-family: Gotham, Arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
}

h3.rep {
	color: #C6282E;
	line-height: 5px;
	margin-bottom: 12px;
}

h3.dem {
	color: #221F73;
	line-height: 5px;
	margin-bottom: 12px;
}

h4 {
	color: #87898B;
	font-size: 15px;
	font-weight: normal;
	margin-top: 0;
}
a.candidate_links {
	color: #87898B;
	text-decoration: none;
}

.candidate_wordcloud {
/*	margin: 5px 0 20px 0;
*/}

.candidate_wordcloud_title {
	/*text-align: center;*/
}

.wordcloud {
	/*margin: 5px 0 25px 0;*/
}

footer {
	text-align: center;
	background: #C6282E;
	color: white;
	padding: 14px;
	margin: 0;
	border: 0;
}

footer a {
	color: white;
}

