{% extends "base.html" %}
{% block content %}
<header>
<h1>{{ title }}</h1>
<h2>TWITTER WORD CLOUDS</h2>

<p>Word clouds of the 2016 U.S. Presidential candidates based on their past 500 tweets. Colors are random, font size increases with word frequency. Each word cloud contains the 200 most frequently tweeted word by that candidate.</p>

<ul id="navbar">
	{% for c in candidates %}
	<li><a href="#{{c.last_name}}">{{c.last_name.upper()}}</a></li>
	{% endfor %}
</ul>
</header>
<div id="container">
	{% for c in candidates %}
	<div class="candidate_section">
		<div class="candidate">
		{% if c.party == "Democratic Party" %}
			<h3 class="dem">{{c.first_name.upper()}} <a name="{{c.last_name}}">{{c.last_name.upper()}}</a></h3>
		{% endif %}
		{% if c.party == "Republican Party" %}
			<h3 class="rep">{{c.first_name.upper()}} <a name="{{c.last_name}}">{{c.last_name.upper()}}</a></h3>
		{% endif %}
			 	<h4>{{c.state}} - {{c.party}}</h4>
			<img src="/static/colorjpgs/{{c.id}}.jpg">
			<br>
	 			<a href="http://{{c.campaign_site}}", target="_blank", class="candidate_links">{{c.campaign_site}}</a>
			<ul>
				<li><a href="http://twitter.com/{{c.twitter_name}}", target="_blank"><img src="/static/design/Twitter-Logo-Transparent.gif", class="social_media"></a></li>
				<li><a href="{{c.facebook_site}}", target="_blank"><img src="/static/design/facebook_logo_transparent.png" class="social_media"></a></li>
			</ul>
		<img src="/static/wordcloud_pngs/{{c.id}}_block_wordcloud.png" class="candidate_wordcloud">
		</div>
	</div>
	{% endfor %}
</div>
<footer>
<p>Check out the <a href="https://github.com/abmorton/prezface2016">code</a> at GitHub.</p>
</footer>
{% endblock %}