{% extends "base.html" %}
{% block content %}

<h1>{{ title }}</h1>

<img src="/static/wordcloud_pngs/libertybell_constitution_wordcloud.png" id="libertybell" class="wordcloud">

<p>Word clouds of the 2016 U.S. Presidential candidates based on their past 500 tweets. Colors are random, font size increases with word frequency. Each word cloud contains the 200 most frequently tweeted word by that candidate.</p>

<p>Check out the <a href="https://github.com/abmorton/prezface2016">code</a> at GitHub.</p>

<br>

	{% for c in candidates %}
	<div class="candidate">
		<h3 class="candidate_header">{{c.name}} - {{c.state}} - {{c.party}}</h3>
		<img src="/static/colorjpgs/{{c.id}}.jpg">
		<span class="candidate_links">
		<ul>
<!-- 			<li>Government site: <a href="{{c.government_site}}", target="_blank">{{c.government_site}}</a></li>
 -->		<li>Campaign site: <a href="{{c.campaign_site}}", target="_blank">{{c.campaign_site}}</a></li>
			<li>Twitter site: <a href="http://twitter.com/{{c.twitter_name}}", target="_blank">{{c.twitter_name}}</a></li>
			<li>Facebook site: <a href="{{c.facebook_site}}", target="_blank">{{c.facebook_site}}</a></li>
		</ul>
		</span>
		<h5 class="candidate_wordcloud_title"><a href="http://twitter.com/{{c.twitter_name}}", target="_blank">{{c.twitter_name}}</a> word cloud:</h5>
		<img src="/static/wordcloud_pngs/{{c.id}}_block_wordcloud.png" class="candidate_wordcloud">
	
		<hr size=2>
	</div>
	{% endfor %}

{% endblock %}